/* This file is for your main application css. */

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfb;
  overflow: hidden;
  width: 100%
}

#href-button {
      color: #000000;
      background-color: #e0e0e0;
      display: block;
      height: 40px;
      line-height: 40px;
      width: 15%;
      text-decoration: none;
      text-align: center;
      font-size: 20px;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 5px;
    }

#href-button:hover {
      background-color: #FFF0F5;
    }
