<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="images/donut.png" />
    <title>Donut Alert!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <%= if Donuts.Sessions.logged_in?(@conn) == true do %>
            <ul class="nav nav-pills pull-right"> You are logged as: <br>
            <%= Donuts.Sessions.Session.get_current_user_name(@conn) %>
            </ul>
          <%= else %>
          <ul class="nav nav-pills pull-right">
              <li><%= link "Login with Slack", to: DonutsWeb.Router.Helpers.session_path(@conn, :sign_in) %></li>
          </ul>
          <% end %>
        </nav>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
