<div class = "menu-container">
  <a id = "href-button" href = "#aboutUs">Donuts service</a>
  <a id = "href-button" href = "#aboutUs">Sweet list</a>
  <a id = "href-button" href = "#aboutUs">Add donut</a>
</div>
