<div class = "menu-container">
  <a id = "href-button" href = "#aboutDonuts">Donuts service</a>
  <a id = "href-button" href = "#donutsList">Sweet list</a>
  <a id = "href-button" href = "#addDonut">Add donut</a>

  
</div>
